@tailwind base;
@tailwind components;
@tailwind utilities;
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #e5e7eb !important; /* text-gray-200 */
  background-color: transparent !important;
  background-clip: content-box !important;
  box-shadow: 0 0 0 1000px #424247 inset !important; /* gray-800 */
  transition: background-color 999999s ease-in-out 0s;
}